{% extends "kaos/base.html" %}
{% load i18n markup kaos kaos_avatar %}
{% block title %}
	{{ game }}
{% endblock %}
{% block content %}
<div id="game">
	<div id="description" class="description markdown">{{ game.description|markdown }}</div>
	
	<div id="info" class="info">
		<h2>Details</h2>
		<ul>
			<li>{% trans "This game is being run by" %} <a href="{{ game.organisation.get_absolute_url }}">{{ game.organisation }}</a>.</li>
		{% if game.signup_confirmation %}
			<li>{% trans "This game requires players to be confirmed." %}</li>
		{% endif %}
		{% if game.allow_pseudonym %}
			<li>{% trans "This game allows users to player under a pseudonym." %}</li>
		{% endif %}
			<li>
				{% show_progress game game.time_period %}
			</li>
			<li>
				{% show_signup_progress game %}
			</li>
		</ul>
	</div>

	<div id="moderators">
		<h2>{% trans "Moderators" %}</h2>
		{% show_users game.moderators.all %}
	</div>
	
	<div id="teams">
		<h2><a href="{% url team_list game.slug %}">{% trans "Teams" %}</a></h2>
		{% show_teams game.teams %}
	</div>
	
	<div id="players">
		<h2><a href="{% url player_list slug=game.slug %}">{% trans "Players" %}</a></h2>
		{% show_players game.players %}
	</div>
	
	<div id="recent">
		<h2><a href="{% url tag_list slug=game.slug %}">{% trans "Recent tags" %}</a></h2>
		{% show_tags game.recent_tags %}
	</div>
</div>
{% endblock %}
