{% load i18n %}
<ul class="list-games">
{% if games %}
{% for game in games %}
	<li class="game"><a href="{{ game.get_absolute_url }}">{{ game.title }}</a></li>
{% endfor %}
{% else %}
	<li class="empty">{% trans "There are no games to display." %}</li>
{% endif %}
</ul>
