{% load i18n kaos %}
<h3>{% trans "Active games" %}</h3>
{% if games.active %}
	{% show_games games.active %}
{% else %}
	{% trans "There are no active games to show." %}
{% endif %}

{% if games.inactive %}
	<h3>{% trans "Future games" %}</h3>
	{% show_games games.inactive %}
{% endif %}

{% if games.complete %}
	<h3>{% trans "Past games" %}</h3>
	{% show_games games.complete %}
{% endif %}
