{% load i18n kaos %}
{%   if status == "inactive" %}<span class="status-inactive">{% trans "Not started" %}</span>
{% elif status == "active"   %}<span class="status-active">{% trans "In progress" %}</span>
{% elif status == "complete" %}<span class="status-complete">{% trans "Closed" %}</span>
{% endif %}