{% extends "kaos/base.html" %}
{% load kaos %}
{% block title %}{% show_tag_text tag %} - {{ game.title }}{% endblock %}
{% block content %}
	<p>{% show_tag tag %}</p>
	<p>{% return_link tag.game %}</p>
{% endblock %}
