{% load i18n kaos %}
<ul class="list-tags">
{% for tag in tags %}
	<li class="tag">{% show_tag tag %}</li>
{% endfor %}
{% if tags.count == 0 %}
	<li class="empty">{% trans "There are no tags to display." %}</li>
{% endif %}
</ul>
