{% load i18n %}{% trans "of team" as of %}
<span class="tag">
	<a href="{{ tag.tagger.get_absolute_url }}" {% if tag.tagger_team %}title="{{ tag.tagger.name }} {{ of }} {{ tag.tagger_team }}"{% endif %}>{{ tag.tagger.name }}</a>
	{% if tag.tagger_team and show_teams %}{{ of }} <a href="{{ tag.tagger_team.get_absolute_url }}">{{ tag.tagger_team }}</a>{% endif %}
	{% trans "tagged" %}
	<a href="{{ tag.tagged.get_absolute_url }}" {% if tag.tagged_team %}title="{{ tag.tagged.name }} {{ of }} {{ tag.tagged_team }}"{% endif %}>{{ tag.tagged.name }}</a>
	{% if tag.tagged_team and show_teams %}{{ of }} <a href="{{ tag.tagged_team.get_absolute_url }}">{{ tag.tagged_team }}</a> {% endif %}
	<span class="timestamp">(<a href="{{ tag.get_absolute_url }}">{{ tag.time|date:"P" }} {{ tag.time|date:"SHORT_DATE_FORMAT" }}</a>)</span>
</span>