{% extends "kaos/base.html" %}
{% load i18n markup kaos %}
{% block title %}
	{{ organisation.name }}
{% endblock %}
{% block content %}
<div id="organisation">
	<div id="info">
		<ul>
			<li>{% trans "Email" %}: <a href="mailto:{{ organisation.email }}">{{ organisation.email }}</a></li>
			<li>{% trans "Link" %}: <a href="{{ organisation.link }}">{{ organisation.link }}</a></li>
		</ul>
	</div>
	
	<div id="reps">
		<h2>{% trans "Representatives" %}</h2>
		{% show_users organisation.members.all %}
	</div>
	
	<div id="games">
		<h2>{% trans "Games" %}</h2>
		{% show_games_by_status organisation.games.all %}
	</div>
</div>
{% endblock %}