{% extends "kaos/base.html" %}
{% load i18n kaos %}
{% block title %}{% trans "Organisations" %}{% endblock %}
{% block content %}
<div class="organisations">
	<ul>
	{% for organisation in organisations %}
		<li><a href="{{ organisation.get_absolute_url }}">{{ organisation }}</a></li>
	{% endfor %}
	</ul>
</div>
{% show_page_links %}
{% endblock %}
