{% extends "kaos/base.html" %}
{% load i18n markup kaos %}
{% block title %}{{ team.name }} - {{ team.game.title }}{% endblock %}
{% block content %}
<div id="team">
	<div id="description" class="description markdown">{{ team.description|markdown }}</div>
	
	<div id="info" class="info">
		<table class="neat" summary="{% trans "Statistics about the team." %}">
			<tbody>
				<tr><td>{% trans "Score" %}</td><td>{{ team.score }}</td></tr>
				<tr><td>{% trans "Tags" %}</td><td>{{ team.tags.count }}</td></tr>
				<tr><td>{% trans "Tagged" %}</td><td>{{ team.tagged.count }}</td></tr>
			</tbody>
		</table>
	</div>
	
	<div id="tags">
		<h2>{% trans "Tags" %}</h2>
		{% show_tags_split team.tags.all team.tagged.all %}
	</div>
	
	{% return_link team.game %}
</div>
{% endblock %}
