{% load i18n kaos %}
<ul class="list-teams">
{% for team in teams %}
	<li class="team">
		<a href="{{ team.get_absolute_url }}">{{ team.name }}</a>
		{% if team.score or team.score == 0 %}
			({% blocktrans count score=team.score %}{{ score }} point{% plural %}{{ score }} points{% endblocktrans %})
		{% endif %}
	</li>
{% endfor %}
{% if teams.count == 0 %}
	<li class="empty">There are no teams to display.</li>
{% endif %}
</ul>
