{% extends "kaos/base.html" %}
{% load i18n kaos %}
{% block title %}{{ player.name }} - {{ player.game.title }}{% endblock %}
{% block content %}
<div id="player">
	<div>
	{% if player.team %}
		{{ player.name }} {% trans "is playing for team" context "<player> is playing for <team>" %}
		<a class="team" href="{% url team_detail slug=player.game.slug id=player.team.id %}">{{ player.team.name }}</a>.
	{% endif %}
	</div>

	<div id="info" class="info">
		<h2>{% trans "Statistics" %}</h2>
		<table class="neat" summary="{% trans "Statistics about the player." %}">
			<tbody>
				<tr><td>{% trans "Score" %}</td><td>{{ player.score }}</td></tr>
				<tr><td>{% trans "Tags" %}</td><td>{{ player.tags.count }}</td></tr>
				<tr><td>{% trans "Tagged" %}</td><td>{{ player.tagged.count }}</td></tr>
			</tbody>
		</table>
	</div>
	
	<div id="tags">
		<h2>{% trans "Tags" %}</h2>
		<!-- TODO: Custom tag display -->
		{% show_tags_split player.tags.all player.tagged.all %}
	</div>
	{% return_link player.game %}
</div>
{% endblock %}
