{% load i18n kaos %}
<ul class="list-players">
{% for player in players %}
	<li class="player">
		<a href="{{ player.get_absolute_url }}">{{ player.name }}</a>
		
		{% if player.score or player.score == 0 %}
			({% blocktrans count score=player.score %}{{ score }} point{% plural %}{{ score }} points{% endblocktrans %})
		{% endif %}
	</li>
{% endfor %}
{% if players.count == 0 %}
	<li class="empty">{% trans "There are no players to display." %}</li>
{% endif %}
</ul>
