{% extends "kaos/base.html" %}
{% load i18n kaos %}
{% block document_title %}{{ profile.get_full_name }} - {% trans "User Profiles" %}{% endblock %}
{% block title %}{{ profile.get_full_name }}{% endblock %}
{% block content %}
{% with name=profile.get_full_name %}
<div class="user">
	<div id="games">
		<h2>{% trans "Games" %}</h2>
		{% show_games_by_status games %}
	</div>
	
	{% with profile.moderated_games.all as moderated %}
	{% if moderated %}
	<div id="moderated">
		<h2>{% trans "Moderator" %}</h2>
		{% blocktrans %}{{ name }} is a moderator.{% endblocktrans %}
		{% show_games_by_status moderated %}
	</div>
	{% endif %}
	{% endwith %}
</div>
{% endwith %}
{% endblock %}
