{% load i18n %}
<ul class="list-users">
{% for user in users %}
	<li class="user"><a href="{{ user.get_absolute_url }}">{{ user.get_full_name }}</a></li>
{% endfor %}
{% if users.count == 0 %}
	<li class="empty">{% trans "There are no users to display." %}</li>
{% endif %}
</ul>
