{% comment %}
Shows a set of pagination links for use on list pages.

Uses the ``page_obj`` context variable, provided by ListView.
{% endcomment %}
{% load i18n %}
<div class="pagination">
    <span class="previous">{% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>{% endif %}</span>
	<span class="current">{% blocktrans %}Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}{% endblocktrans %}</span>
	<span class="next">{% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>{% endif %}</span>
</div>
